.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#title {
  font-size: 3rem;
}

.topnav a {
  font-size: 1.5rem;
  padding: 20px;
}

.topnav {
  background-color: rgb(72, 151, 230);
  color: white;
  padding: 10px;
}

.headline {
  background-color: rgb(155, 150, 150);
  font-size: 1.2rem;
  margin: 20px;
  padding: 20px;
}

.article p {
  margin: 20px;
  margin-left: 20px;
  padding: 20px;
  color: blue;
  font-size: 17px;
}
.article {
  position: absolute;
}

.article span {
  padding: 20px;
}